<head>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation" data-nav="tables" id="table-nav"><a
                            href="/tables">表格</a></li>
                    <li role="presentation" data-nav="pies" id="pie-nav"><a
                            href="/pies">饼图</a></li>
                    <li role="presentation" data-nav="bars" id="bar-nav"><a
                            href="/bars">柱状图</a></li>
                    <li role="presentation" data-nav="d3tree" id="d3tree-nav"><a
                            href="/d3tree">D3树</a></li>
                    <li role="presentation" data-nav="jquerytree" id="jquerytree-nav"><a
                            href="/jquerytree">JQuery树</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</head>